* {
  margin: 0;
  padding: 0;
}
.body2 {
  width: 100vw;
  min-height: 100vh;
<<<<<<< HEAD
  background-color: #97a1b5;
=======
  background-color: #9eaeb9;
>>>>>>> main

  .wrap {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media all and (max-width: 768px) {
<<<<<<< HEAD
  .body2 {
=======
  .body {
>>>>>>> main
    .wrap {
      width: 90%;
      flex-flow: column wrap;
      position: relative;
      top: -30px;

<<<<<<< HEAD
      .accountArea2,
      .chartArea2 {
=======
      .accountArea,
      .chartArea {
>>>>>>> main
        width: 100%;
      }
    }
  }
}
