* {
  margin: 0;
  padding: 0;
}
.body2 {
  width: 100vw;
  background-color: #97a1b5;

  .wrap {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media all and (max-width: 768px) {
  .body2 {
    .wrap {
      width: 90%;
      flex-flow: column wrap;
      position: relative;
      top: -30px;

      .accountArea2,
      .chartArea2 {
        width: 100%;
      }
    }
  }
}
