* {
  margin: 0;
  padding: 0;
}
.body {
  width: 100vw;
  min-height: 100vh;
  background-color: #e4f3fd;

  .wrap {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media all and (max-width: 768px) {
  .body {
    .wrap {
      width: 90%;
      flex-flow: column wrap;
      position: relative;
      top: -30px;

      .accountArea,
      .chartArea {
        width: 100%;
      }
    }
  }
}
