.chartDiv {
  background: #fff;
  width: 90%;
  max-width: 600px;
  //height: 420px;
  margin: 30px auto 0 30px;
  //padding: 30px 30px 0 30px;
  font-size: 20px;
  border-radius: 20px;
  color: #222;
  //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  //overflow: hidden;

  // .charsubDiv {
  //   width: 100%;
  //   height: auto;
  //   padding: 30px;
  // }

  .chart {
    position: relative;
    width: 400px;
    height: auto;
    left: 50px;
    top: -25px;
    padding: 30px;
  }
}

@media all and (max-width: 768px) {
  .chartDiv {
    width: 100%;
    height: 350px;

    .chart {
      //width: 200px;
      width: 100%;
      height: auto;
      left: 100px;
      margin-left: -15%;
    }
  }
}
