.chartDiv {
  position: relative;
  background: #fff;
  width: 90%;
  height: 300px;
  max-width: 600px;
  //margin: 30px auto;
  border-radius: 20px;
  //box-shadow: rgba(154, 178, 202, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;


  .charTitle {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chart {
    width: 100%;
    height: auto;
    padding: 30px;
  }
}

@media all and (max-width: 768px) {
  .chartDiv {
    width: 100%;
  }
}