.ul {
  font-size: 1.125rem;
  line-height: 1.75rem;
  justify-content: center;
  width: 100%;
  display: flex;
  gap: 1rem; /* 16px */
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.h-full {
  height: 100%;
}

.items-center {
  align-items: center;
}

.list {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  text-align: center;
  border-bottom-width: 4px;
  cursor: pointer;
}

/* 추가된 스타일 */
.list a {
  color: inherit; /* 부모 요소의 색상 상속 */
  text-decoration: none; /* 기본 텍스트 데코레이션 제거 */
}

.list a:visited {
  color: inherit; /* 부모 요소의 색상 상속 */
}

.list a:hover {
  text-decoration: underline; /* 밑줄 표시 */
}
