.background {
  position: relative;
  z-index: 10;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.width {
  width: 100%;
}

.items {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  justify-content: space-between;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
=======
  padding: 10px 20px;
  background-color: #ececec;
>>>>>>> origin/dev

  @media (min-width: 640px) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

<<<<<<< HEAD
  @media (min-width: 1024px) {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  height: 3.5rem; /* 56px */
}

.flex-box {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.sm-hidden {
  @media (min-width: 640px) {
    display: none;
  }
}

.sm-block {
  @media (min-width: 640px) {
    display: block;
  }
}

.large-header {
  display: none;
}

.small-header {
  display: block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

@media (min-width: 640px) {
  .large-header {
    display: block;
  }

  .small-header {
    display: none;
=======
  .auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto; // Ensure auth-nav section is pushed to the right

    .auth {
      margin-left: 10px; // Push the authentication section to the far right
      display: flex;
      align-items: center;

      .auth-button {
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        margin-left: 20px;

        &:hover::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2px;
          height: 2px;
          background-color: #000;
        }
      }
    }

    .nav-buttons {
      display: flex;
      gap: 10px;

      .plan-button {
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
        position: relative;

        &:hover::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2px;
          height: 2px;
          background-color: #000;
        }
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000; /* Change to desired underline color */
>>>>>>> origin/dev
  }
}
