.LoginPage {
  position: absolute;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  border-radius: 15px;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #c8c8c8;

  flex-direction: column;
}

.title {
  margin-top: 85px;
  margin-bottom: 70px;
  font-size: 30px;
  font-weight: 700;
  color: #262626;
}

.contentTitle {
  margin-top: 26px;
}

.inputTitle {
  font-size: 16px;
  font-weight: 600;
  color: #262626;
}

.inputWrite {
  display: flex;
  border-radius: 5px;
  margin-top: 8px;
}

.input {
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  background-color: #ffffff;
}

.input:focus {
  outline: 2px solid rgb(139, 133, 205);
}
.errMessage {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.btn {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 700;
  background-color: #8f9cd0;
  border-radius: 7px;
  color: rgb(255, 255, 255);
}

.btn:hover {
  background-color: #1a328e;
}

.user {
  text-align: center;
  margin-bottom: 60px;
}