<<<<<<< HEAD
=======
// SignUp.scss

>>>>>>> main
body,
html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #f1f4fa;
}

.signup-container {
  width: 500px;
=======
  height: 100vh;
  background-color: #f0f0f0; // Optional: to distinguish the form background
}

.signup-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
>>>>>>> main
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
  display: flex;
  justify-content: center; /* 가로축 가운데 정렬 */
  align-items: center; /* 세로축 가운데 정렬 */
  flex-direction: column; /* 요소 세로로 배치 */

  h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 700;
=======

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
>>>>>>> main
    color: #333;
  }

  form {
<<<<<<< HEAD
    width: calc(100% - 55px); /* 20px 패딩을 고려하여 너비 조정 */
    
    div {
      margin-bottom: 15px;
      
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 700;
=======
    div {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
>>>>>>> main
        color: #333;
      }

      input[type="text"],
      input[type="password"],
      input[type="date"],
      select {
        width: 100%;
<<<<<<< HEAD
        height: 45px;
        font-size: 15px;
        font-weight: 400;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 8px;
=======
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
>>>>>>> main
        box-sizing: border-box;
      }

      select {
<<<<<<< HEAD
        height: 45px;
=======
        height: 38px;
>>>>>>> main
      }
    }

    button {
      width: 100%;
<<<<<<< HEAD
      height: 48px;
      margin-top: 30px;
      margin-bottom: 50px;
      background-color: rgb(43, 5, 133);
      border: none;
      border-radius: 7px;
      color: white;
      font-size: 15px;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background-color: rgb(129, 134, 203);
=======
      padding: 10px;
      margin-top: 20px;
      background-color: #8f9cd0;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #2a1e62;
>>>>>>> main
      }
    }
  }
}