.totalIncome {
  width: 285px;
  height: 150px;
  background: #1e88e5;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #fff;
  padding: 45px 35px;

  span {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 15px;
  }
}
