.verticalChart {
  position: relative;
  background: #fff;
  width: 90%;
  max-width: 600px;
  height: 20%;
  margin: 30px auto 30px auto;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media all and (max-width: 768px){
  .verticalChart {
    width: 100%;
  }
}