* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 83.333333%;
  max-width: 56rem /* 896px */;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
